.account {
  .ui-filed-name {
    @include fz(16);
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    display: block;
    color: $title;
  }

  &-nav {
    li {
      padding: 13px 0;
      border-bottom: 1px solid $border;

      a {
        @include fz(16);
        font-weight: $weight;
        line-height: 24px;
        color: $title;
      }

      &.active a {
        color: $primary;
        font-weight: 600;
      }

      &:not(.active):hover a {
        color: $primary;
      }
    }
  }
}
