.checkout {
  &-edit {
    &-icons {
      opacity: 0;
      transition: opacity 0.3s;
      @media (max-width: 1024px) {
        opacity: 1;
      }
    }
    &-icon {
      width: 22px;
      height: 22px;
      fill: none;
      stroke: $title;
      stroke-width: 1.5px;
      transition: stroke 0.3s;
      opacity: 0.5;
      &:hover {
        stroke: $secondary;
      }
    }
  }

  &-form {
    padding: 30px 30px 10px 30px;
    border: 1px solid $border;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 24px;

    @media (max-width: 599px) {
      padding: 16px 16px 4px;
    }
  }

  .error {
    min-height: auto;
    padding: unset;
  }

  .ui-field-name {
    margin-bottom: 10px;
  }

  .subtotal {
    position: relative;
    margin-bottom: 20px;

    &-head {
      @media (max-width: 395px) {
        margin-bottom: 30px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 101px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $bg_light;

      @media (max-width: 395px) {
        top: 23%;
      }

      @media (max-width: 599px) {
        top: 24%;
      }
    }
  }

  .shopping-cart {
    &:hover {
      .checkout-edit-icons {
        opacity: 1;
      }
    }
    &-name {
      @include fz(32);
      font-weight: 600;
      color: $title;

      span {
        white-space: nowrap;
      }

      @media (max-width: 420px) {
        line-height: 1.31;
      }

      @media (max-width: 370px) {
        @include fz(24);
      }
    }

    &-header {
      display: flex;
      margin-bottom: 22px;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;

      @media (max-width: 768px) {
        align-items: baseline;
      }
    }

    &-edit {
      @media (max-width: 395px) {
        display: none;
      }
    }
  }
}

.payment {
  &-method {
    background-color: #fff;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 30px 30px 0;
    margin-bottom: 24px;

    &:hover {
      .checkout-edit-icons {
        opacity: 1;
      }
    }

    @media (max-width: 599px) {
      padding: 16px 16px 0px;
    }

    &-title {
      @include fz(32);
      font-weight: 600;
      color: $title;

      @media (max-width: 370px) {
        @include fz(24);
      }
      @media (max-width: 420px) {
        line-height: 1.31;
      }
    }

    &-header {
      display: flex;
      align-items: flex-start;
      margin-bottom: 22px;
      justify-content: space-between;
      gap: 20px;

      @media (max-width: 768px) {
        align-items: baseline;
      }
    }
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 10px;
    @include fz(16);
    font-weight: 600;
    line-height: 24px;
    color: $title;
    width: fit-content;
    cursor: $pointer;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &-input {
      width: 20px;
      height: 20px;
      accent-color: $title;
      cursor: $pointer;
    }

    &-pic {
      width: 16px;
      height: 20px;
    }
  }

  &-items {
    margin-bottom: 30px;
  }
}
