.favorites {
  &-cards-wrapper {
    margin-bottom: 12px;
  }
  &-filter {
    margin-bottom: 12px;
    &-search {
      margin-bottom: 12px;
    }
    &-select {
      margin-bottom: 12px;
    }

    .ui-select__filter {
      width: 100%;
    }
  }
}
