.static {
  &-content {
    * {
      @include fz(16);
      font-weight: $weight;
      line-height: 24px;
      color: $title;
      margin: 0;
    }

    .h3,
    h3 {
      @include fz(24);
      font-weight: 600;
      line-height: 32px;
    }

    .h4,
    h4 {
      font-weight: 600;
    }

    b {
      font-weight: 600;
    }

    br {
      display: block;
      height: 24px;
      content: "";
    }

    ul {
      padding-left: 26.2px;

      li {
        list-style: disc;
      }
    }
  }
}
