.purchase {
  &-cards-wrapper {
    margin-bottom: 18px;

    .links-item {
      @media (min-width: 480px) and (max-width: 576px) {
        height: 35px;
        line-height: 35px;
      }
    }
  }

  &-filter {
    margin-bottom: 12px;
    &-search {
      margin-bottom: 12px;
    }
    &-select {
      margin-bottom: 12px;
      .ui-select__filter {
        width: 100%;
      }
    }
  }
}
