.chat {
  background-color: #ffffff;
  border: 1px solid $border;
  border-radius: 8px;
  padding: 24px 0;

  &-photo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
  }

  &-menu {
    width: 24px;
    height: 24px;
    margin-top: 18px;
    cursor: pointer;
    &-icon {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: #000000;
      stroke-width: 2px;
    }
  }

  &-head {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid $border;
    padding-left: 24px;
    padding-right: 24px;

    @media (max-width: 599px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    &-info {
      display: flex;
      gap: 12px;
      margin-bottom: 20px;
    }

    &-description {
      margin-top: 5px;
    }

    &-title {
      @include fz(20);
      font-weight: 600;
      line-height: 26px;
      color: $title;
    }

    &-name {
      @include fz(16);
      font-weight: $weight;
      color: $title;
      line-height: 24px;
      opacity: 0.5;
    }
  }

  &-good {
    background-color: #fff;
    border: 1px solid $border;
    border-radius: 6px;
    padding: 11px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-detail {
      @include fz(16);
      line-height: 24px;
      color: $title;

      &-id {
        color: rgba($title, 0.5);
        font-weight: $weight;

        &.completed::after {
          content: "Completed";
          position: relative;
          @include fz(16);
          line-height: 24px;
          color: $btn_green;
          font-weight: 600;
          padding: 2px 6px;
          background-color: rgba($primary, 0.12);
          // background-color: rgba(112, 177, 47, 0.12);
          border-radius: 3px;
          margin-left: 12px;
          opacity: 1;

          @media (max-width: 599px) {
            margin-left: 9px;
          }
        }
      }
      &-delivery {
        font-weight: 600;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-price {
      @include fz(18);
      font-weight: 600;
      line-height: 26px;
      color: $primary;
    }

    &-photo {
      aspect-ratio: 1.7;
      max-width: 100px;
      height: 60px;

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 6px;
      }
    }
  }

  &-messages {
    padding: 24px;
    max-height: 562px;
    overflow-y: auto;
    scroll-behavior: smooth;
    opacity: 0;

    @media (max-width: 599px) {
      padding-left: 16px;
      padding-right: 16px;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      width: 6px;
      height: 6px;
      background-color: $border;
      border: 3px solid $border;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: lighten($border, 8%);
    }
  }

  &-message {
    display: flex;
    gap: 12px;
    margin-top: 24px;

    &.right {
      flex-direction: row-reverse;
    }

    &-content {
      max-width: 60%;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    &-field {
      width: fit-content;
      padding: 12px;
      background-color: #fff;
      border-radius: 6px;
      border: 1px solid $border;
      @include fz(16);
      font-weight: $weight;
      line-height: 24px;
      color: $title;
    }

    &-date {
      margin-top: 12px;
      @include fz(16);
      font-weight: $weight;
      line-height: 24px;
      color: $title;
      opacity: 0.5;
    }
  }

  &-panel {
    margin-left: 24px;
    margin-right: 24px;
    border: 1px solid $border;
    border-radius: 6px;
    display: flex;
    //align-items: center;
    padding: 24px;
    transition: background-color 0.3s;

    &:hover,
    &:focus-within {
      background-color: $bg_light;
      box-shadow: 0px 10px 25px rgba(22, 25, 50, 0.07);

      .chat-panel-input {
        background-color: $bg_light;
      }
    }

    &-instruments {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-lb {
      display: block;
      width: 24px;
      height: 24px;
    }

    &-file {
      &-input {
        display: none;
      }
      &-icon {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 2px;
        stroke: $title;
        transition: stroke 0.3s;
        cursor: pointer;
        &:hover,
        &.active {
          stroke: $primary;
        }
      }
    }

    &-smiles {
      width: 24px;
      height: 24px;
      &-icon {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 2px;
        stroke: $title;
        transition: stroke 0.3s;
        cursor: pointer;
        &:hover,
        &.active {
          stroke: $primary;
        }
      }
    }

    &-send {
      border: none;
      background: none;
      width: 24px;
      height: 24px;
      &-icon {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 2px;
        stroke: $title;
        transition: stroke 0.3s;
        cursor: pointer;

        &:hover,
        &.active {
          stroke: $primary;
        }
      }
    }

    &-input {
      width: 100%;
      outline: none;
      border: none;
      padding-right: 30px;
      transition: background-color 0.3s;

      &::placeholder {
        color: $light-grey;
        @include fz(16);
        font-weight: $weight;
        line-height: 24px;
      }
    }
  }
}
