p {
  margin: $paragraph_margin;

  @media (max-width: 599px) {
    margin-bottom: 12px;
  }
}
ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
li {
  list-style: none;
}
a {
  color: $font;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h20 {
  font-family: $basefont;
  font-weight: $headings_font_weight;
  // color: $headings_color;
  margin: $headings_margin;
  text-transform: $headings_text_transform;
  line-height: 1.2;
}

h1,
.h1 {
  @include fz($h1);
  margin-top: 0;
  line-height: 1.15;

  @media (max-width: 960px) {
    @include fz(42);
  }

  @media (max-width: 599px) {
    @include fz(32);
  }
}
h2,
.h2,
.ui-h2 {
  @include fz($h2);
  line-height: 1.2;
}
h3,
.h3,
.ui-h3 {
  @include fz($h3);
  line-height: 1.2;
}
h4,
.h4,
.ui-h4 {
  @include fz($h4);

  @media (max-width: 599px) {
    @include fz(22);
  }
}
h5,
.h5 {
  @include fz($h5);
}
h6,
.h6,
.ui-h5 {
  @include fz($h6);
  text-transform: none;
  font-weight: 700;

  @media (max-width: 599px) {
    @include fz(16);
  }
}
.ui-font-midi {
  @include fz(16);
}
.ui-font-mini {
  @include fz(14);
}
.h20 {
  @include fz(20);
}
.ui-strong,
.ui-bold {
  font-weight: 700;
}
.ui-demi {
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: none;
  transition: color 0.3s, border 0.3s;
}
b,
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
}

.wrapper a img {
  border: none;
  display: block;
  line-height: 0;
  font-size: 0;
}
/*---- ICONS ---- */

::selection {
  background: $primary;
  color: #fff;
}
::-moz-selection {
  background: $bgc;
  color: #fff;
}
@media (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: $primary;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: lighten($primary, 8%);
  }
}

.page-title {
  @include fz(32);
  color: $title;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.31;
}

.block-title {
  margin-bottom: 6px;
  color: $title;

  &__center {
    text-align: center;
  }
}

.block-subtitle {
  margin-bottom: 24px;
  color: $font-light;

  @media (max-width: 599px) {
    margin-bottom: 14px;
  }

  &__center {
    text-align: center;
  }
}

.ui-search-group {
  background-color: #fff;
  border-radius: 8px;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .ui-select {
    transition: background-color 0.3s, height 0.3s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 80%;
      background-color: $border;
      transform: translateY(-50%);
    }

    .jq-selectbox {
      &__dropdown {
        margin-top: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 0;
        padding-right: 0;
        min-width: 200px;

        li {
          padding: 8px 24px;
          display: flex;
          justify-content: space-between;

          &.sel {
            &::after {
              content: "";
              background-image: url(../images/svg/check_green.svg);
              background-repeat: no-repeat;
              background-position: center right;
              background-size: 24px 24px;
              width: 24px;
              height: 24px;
            }
            color: $primary;
          }

          &:hover {
            background-color: $pagination;
          }
        }
      }
    }

    &.opened {
      background-color: #e1e3e5;
      &::after {
        height: 100%;
        background-color: rgba(56, 56, 56, 0.1);
      }
    }
  }

  &-input {
    border: none;
    outline: none;
    flex-grow: 1;
    width: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: $bg_light;
      box-shadow: 0px 10px 25px rgba(22, 25, 50, 0.07);
    }
  }

  .ui-btn {
    height: 52px;
  }

  &.right-chbx {
    border: 1px solid $border;
    height: 48px;

    .ui-select {
      height: 48px;
      &::after {
        display: none;
      }
    }

    .jq-selectbox {
      &__trigger-arrow {
        background-position: center;
        background-image: url(../images/svg/arrow-down.svg);
        opacity: 0.5;
        width: 20px;
        height: 20px;
      }

      &__select {
        padding-left: 14px;
        padding-right: 12px;
        &-text {
          @include fz(16);
          font-weight: $weight;
          line-height: 24px;
          color: $title;
        }
      }

      &__select-text {
        padding-right: 0;
      }
    }

    .ui-search-group-input {
      border-radius: 8px;
      padding-left: 0px;
    }
  }
}

.ui-tel-group {
  background-color: #fff;
  border-radius: 8px;
  height: 52px;
  width: 100%;
  border: 1px solid $border;
  height: 48px;

  .iti {
    display: flex;
    justify-content: space-between;
    position: relative;

    &__selected-dial-code {
      color: #000;
      line-height: 48px;
      margin-left: 0;
    }

    &__arrow {
      background-position: center;
      background-image: url(../images/svg/arrow-down.svg);
      opacity: 0.5;
      width: 20px;
      height: 20px;
      border: none;
      margin: 0;
      transition: all 0.4s;
      &--up {
        transform: rotate(180deg);
      }
    }

    &__selected-country-primary {
      padding: 0;
    }

    &__country-container {
      position: static;
      height: 48px;
      padding-left: 14px;
      padding-right: 7px;

      .iti__selected-country {
        gap: 12px;
      }
    }

    &__search-input {
      outline: none;
      border-radius: 8px;
      padding-left: 14px;
      padding-right: 14px;
      height: 48px;
      width: 100%;
      transition: background-color 0.3s;
    }

    &__dropdown-content {
      margin-left: -14px;
      margin-top: 20px;
      width: 100% !important;
    }
  }

  &-input {
    flex: 1;
    padding-left: 0 !important;
    background: none;
    outline: none;
    border: none;
    margin: 0;
    height: 48px;
    line-height: 48px;
    width: 100%;

    &::placeholder {
      color: $light-grey;
    }
  }
}

.iti__search-input {
  outline: none;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  min-height: 48px;
  width: 100%;
  transition: background-color 0.3s;
}

.ui-btn {
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 600;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 48px;
  white-space: nowrap;

  @media (max-width: 599px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke-width: 1.5px;

    &__margin-left {
      margin-left: 6px;
    }
  }

  &__sm {
    @include fz(14);
    border-radius: 5px;
    padding: 6px 12px;
    height: 36px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &__200 {
    min-width: 200px;
  }

  &__green {
    background-color: $btn_green;

    &:hover {
      background-color: $btn_green_hover;
    }
  }

  &__orange {
    background-color: $btn_orange;

    &:hover {
      background-color: $btn_orange_hover;
    }
  }

  // &__dark {
  //   background-color: #383838;

  //   &:hover {
  //     background-color: $btn_green_hover;
  //   }
  // }

  &__dark {
    background-color: #484949;

    &:hover {
      background-color: $btn_green_hover;
    }
  }

  &__grey {
    color: $font;

    &:hover {
      background-color: $border;
    }
  }

  &__grey-font {
    color: rgba(72, 73, 73, 0.5);
    background-color: #f5f5f5;

    &:hover {
      background-color: $border;
    }
  }

  &__translucent {
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &__bordered {
    border: 1px solid #e1e3e5;
    background-color: transparent;
  }

  &__square {
    padding-left: 0;
    padding-right: 0;
    width: 48px;

    .icon {
      width: 24px;
      height: 24px;
      fill: none;
      stroke: $font;
      transition: stroke 0.3s;
    }

    &:hover {
      .icon {
        stroke: $secondary;
      }
    }
  }

  &__block {
    width: 100%;
  }
}

.ui-field {
  margin-bottom: 24px;

  @media (max-width: 599px) {
    margin-bottom: 12px;
  }

  &-name {
    @include fz(16);
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    display: block;
    color: $title;
  }
}

.ui-label {
  display: inline-block;
  color: $font;
  font-weight: 600;
  margin-bottom: 18px;
}

.ui-input {
  border: 1px solid $border;
  outline: none;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  height: 48px;
  width: 100%;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: $bg_light;
    box-shadow: 0px 10px 25px rgba(22, 25, 50, 0.07);
  }

  &::placeholder {
    @include fz(16);
    font-weight: $weight;
    line-height: 24px;
    color: $light-grey;
  }

  &__mid {
    height: 44px;
  }
}

.ui-textarea {
  border: 1px solid $border;
  outline: none;
  border-radius: 8px;
  padding: 10px 14px;
  height: 154px;
  width: 100%;
  transition: background-color 0.3s;
  resize: none;

  &:hover,
  &:focus {
    background-color: $bg_light;
    box-shadow: 0px 10px 25px rgba(22, 25, 50, 0.07);
  }
}

.search {
  &-label {
    position: relative;
    display: inline-block;
    width: 100%;

    &__left-btn {
      .search-btn {
        left: 16px;
      }

      .ui-input__search {
        padding-left: 46px;
      }
    }

    &__right-btn {
      .search-btn {
        right: 16px;
      }

      .ui-input__search {
        padding-right: 46px;
      }
    }
  }

  &-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  &-icon {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: $font;
  }
}

.ui-select {
  position: relative;
  color: $font;
  height: 100%;
  cursor: pointer;

  &__bordered {
    border: 1px solid $border;
    border-radius: 6px;
    height: 44px;
    color: $font-light;

    .jq-selectbox__trigger-arrow {
      opacity: 0.5;
    }
  }

  &__filter {
    border: 1px solid $border;
    border-radius: 6px;
    height: 44px;
    color: $font-light;

    .jq-selectbox__trigger-arrow {
      opacity: 0.5;
    }

    .jq-selectbox {
      &__dropdown {
        li {
          padding: 8px 48px 8px 24px;
          &.sel {
            &::after {
              content: "";
              background-image: url(../images/svg/check_green.svg);
              background-repeat: no-repeat;
              background-position: center right;
              background-size: 24px 24px;
              width: 24px;
              height: 24px;
              position: absolute;
              right: 24px;
            }
            color: $primary;
          }
        }
      }
    }
  }

  &__simple {
    border: 1px solid $border;
    border-radius: 6px;
    background-color: #fff;
    height: 48px;
    color: $font-light;
    width: 100%;

    .jq-selectbox__trigger-arrow {
      opacity: 0.5;
      background-position: center;
      width: 20px;
      height: 20px;
    }

    .jq-selectbox {
      &__select {
        padding-left: 14px;
        padding-right: 16px;
        &-text {
          @include fz(16);
          font-weight: $weight;
          line-height: 24px;
          color: $light-grey;
        }
      }
      &__dropdown {
        margin-top: 20px;
        li {
          padding: 8px 48px 8px 24px;
          &.sel {
            &::after {
              content: "";
              background-image: url(../images/svg/check_green.svg);
              background-repeat: no-repeat;
              background-position: center right;
              background-size: 24px 24px;
              width: 24px;
              height: 24px;
              position: absolute;
              right: 24px;
            }
            color: $primary;
          }
        }
      }
    }
  }

  &__pagination {
    border: 1px solid $border;
    border-radius: 8px;
    height: 42px;
    min-width: 70px;
    background-color: #fff;

    @media (max-width: 360px) {
      height: 35px;
    }

    .jq-selectbox {
      &__select {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 12px;
        padding-left: 13px;

        &-text {
          padding-right: 8px;
        }
      }

      &__dropdown {
        margin-top: 2px;
        margin-bottom: 2px;
        padding-top: 2px;
        padding-bottom: 2px;

        ul {
          border-radius: 8px;
        }

        li {
          &.sel {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

.jq-selectbox {
  &.opened {
    .jq-selectbox__trigger-arrow {
      transform: rotate(180deg);
    }
  }

  &__dropdown {
    background-color: #fff;
    border-radius: 8px;
    width: 100% !important;
    margin-top: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0px 20px 50px rgba(22, 25, 50, 0.07);

    li {
      padding: 8px 24px;
      // display: flex;
      // justify-content: space-between;
      overflow: hidden;
      text-overflow: ellipsis;

      &.sel {
        // &::after {
        // 	content: '';
        // 	background-image: url(../images/svg/check_green.svg);
        // 	background-repeat: no-repeat;
        // 	background-position: center right;
        // 	background-size: 24px 24px;
        // 	width: 24px;
        // 	height: 24px;
        // 	position: absolute;
        // 	right: 24px;
        // }
        color: $primary;
      }

      &:hover {
        background-color: $pagination;
      }
    }
  }

  &__trigger {
    &-arrow {
      background-image: url(../images/svg/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center right;
      width: 16px;
      height: 16px;
      transition: transform 0.3s;
    }
  }

  &__select {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;

    &-text {
      padding-right: 8px;
    }
  }
}

.ui-checkbox {
  width: 15px;
  height: 15px;
  flex: 0 0 15px;
  border: 1px solid $border;
  border-radius: 2px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  font-weight: 400;
  @include fz(16);
  margin-right: 8px;

  &.checked {
    position: relative;
    background-color: $btn_green;
    border-color: $btn_green;

    &::after {
      position: absolute;
      top: -1px;
      right: -1px;

      content: "";
      width: 15px;
      height: 15px;
      background-image: url(../images/svg/icon-check.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px 15px;
    }
  }

  &__big {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    margin-right: 17px;
    border-radius: 5px;

    @media (max-width: 599px) {
      margin-right: 12px;
    }

    &.checked {
      &::after {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }
  }
}

.ui-centered {
  text-align: center;
}

.pagination {
  font-weight: 600;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 24px;

  @media (max-width: 360px) {
    row-gap: 20px;
  }

  &-list {
    display: flex;
    gap: 10px;
    // transform: translateX(-50%);
    // margin-left: 50%;
    margin-left: 170px;
    flex-grow: 1;

    justify-content: center;

    @media (max-width: 1140px) {
      margin-left: 0;
      justify-content: flex-start;
    }
  }

  &-item {
    &-link {
      color: $font;
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      background-color: #ffffff;
      border: 1px solid #e1e3e5;
      line-height: 1;

      @media (max-width: 360px) {
        font-size: 14px;
        width: 35px;
        height: 35px;
      }

      &.active {
        background-color: $primary;
        color: #fff;
      }

      &:not(.active):hover {
        background-color: $pagination_hover;
      }
    }

    &-nav {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 1px solid #e1e3e5;
      transition: background-color 0.3s;

      @media (max-width: 360px) {
        font-size: 14px;
        width: 35px;
        height: 35px;
      }

      &:not(.disabled):hover {
        background-color: $pagination_hover;
      }

      .icon {
        width: 24px;
        height: 24px;
        stroke: $font;
      }

      &__prev {
        transform: rotate(-180deg);
      }

      &.disabled {
        cursor: not-allowed;
        .icon {
          stroke: $font-light;
        }
      }
    }

    &-dots {
      height: 44px;
      line-height: 34px;

      @media (max-width: 360px) {
        line-height: 28px;
      }
    }
  }

  &-count {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 14px;

    flex-shrink: 0;
    margin-left: auto;

    @media (max-width: 360px) {
      font-size: 14px;
    }
  }
}

.breadcrumbs {
  margin-bottom: 18px;

  li {
    display: inline-block;
    margin-right: 24px;
    position: relative;
    @include fz(16);

    a {
      transition: color 0.3s;
      color: $font-light;

      &:hover {
        color: $font;
      }
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 50%;
        right: -14px;
        transform: translate(50%, -50%);
        content: "";
        background-image: url(../images/svg/icon-chevron-right_grey.svg);
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px 18px;
      }
    }

    &:last-child {
      color: $title;
      font-weight: 600;
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 12px;

  &-item {
    @include fz(14);
    padding: 0 20px;
    background: $bg_light;
    color: $title;
    border-radius: 50px;
    height: 44px;
    line-height: 44px;
    display: block;
    transition: background-color 0.3s, color 0.3s;

    &__white {
      background: #ffffff;
      border: 1px solid #e1e3e5;
      &.h40 {
        height: 40px;
        line-height: 40px;
      }
    }

    &.active {
      background-color: $btn_orange;
      color: #fff;
    }

    &:hover {
      background-color: $border;
      color: $font;
    }

    &__green-txt {
      &.active {
        color: $primary;
        font-weight: 600;
        background: $bg_light;
        height: 46px;
        &:hover {
          background-color: $border;
        }
      }
    }
  }
}

.ui-socials {
  display: flex;
  gap: 24px;

  &-icon {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
  }
}

.ui-tabs {
  display: flex;
  border-bottom: 1px solid $border;
  column-gap: 20px;
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    display: none;
  }

  @media (max-width: 599px) {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: -12px;
    margin-right: -12px;
  }

  &-wrapper {
    margin-top: 20px;
  }

  &-content {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    display: none;
  }
}

.ui-tab {
  padding: 8px;
  color: $title;
  cursor: pointer;
  transition: font-weight 0.3s, padding 0.3s;
  white-space: nowrap;

  &.active {
    font-weight: 600;
    border-bottom: 2px solid $font;
    padding-left: 6.5px;
    padding-right: 6.5px;
  }

  &:hover {
    font-weight: 600;
    padding-left: 6.5px;
    padding-right: 6.5px;
  }
}

.ui-list {
  li {
    padding-left: 36px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__checked {
    li {
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background-image: url(../images/svg/check_green.svg);
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }

  // corrected
  &__bg {
    li {
      position: relative;
      @include fz(16);
      color: $title;
      font-weight: $weight;
      line-height: 24px;
      min-height: 32px;
      padding-left: 49px;
      margin-bottom: 12px;

      .bold {
        font-weight: 600;
      }

      .light-grey {
        @include fz(16);
        font-weight: $weight;
        line-height: 24px;
        color: $title;
        opacity: 0.5;

        &__bold {
          font-weight: 600;
        }
      }

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background-image: url(../images/svg/check_green.svg);
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $bg_light;
      }
    }
  }
}

.ui-toggles {
  width: 100%;
  // max-width: 400px;
  max-height: 52px;
  background-color: $bg_light;
  border-radius: 50px;
  border-bottom: none;
  padding: 4px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    display: none;
  }
}

.ui-toggle {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  height: 44px;
  &.additional {
    padding: 0;
  }
  &.active {
    background-color: #fff;
    border-radius: 50px;
    color: #70b12f;
    text-align: center;
    font-weight: 600;
  }
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;

  &:hover {
    font-weight: 600;
  }

  &-content {
    &-item {
      transition: all 0.3s ease-out;

      &:not(.active) {
        display: none;
      }
    }
  }
  &-add {
    font-weight: 600;
    color: $secondary;
    @include fz(14);
    line-height: 20px;
  }
}

.slider {
  &-arrows {
    display: flex;
    gap: 18px;
  }

  &-arrow {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: background-color 0.3s;
    cursor: pointer;

    &:not(.swiper-button-disabled):hover {
      background-color: $primary;

      .icon {
        stroke: #fff;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      stroke: $font;
    }

    &__prev {
      transform: rotate(-180deg);
    }

    &.swiper-button-disabled {
      cursor: not-allowed;
      .icon {
        stroke: $font-light;
      }
    }
  }
}

span.invalid {
  color: #ff7070;
  font-size: 12px;
  display: block;
  margin-top: 2px;
  position: absolute;
}

.ui-sticky {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -khtml-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

  @media (max-width: 1024px) {
    position: relative;
  }

  &-node {
    position: relative;
    height: 100%;
  }
  &-element {
    &.float {
      position: fixed;
      top: 0px;
      z-index: 99;

      @media (max-width: 1024px) {
        position: relative;
      }
    }
    &.flip-bottom {
      position: absolute;
      z-index: 99;
      top: auto;
      bottom: 0;

      @media (max-width: 1024px) {
        position: relative;
      }
    }
  }
}
