@import "vars";

@import "normalize";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: $basefont, sans-serif;
  line-height: 1.42;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100%;
  color: $font;
  font-family: $basefont, sans-serif;
  font-weight: $weight;
  @include fz($fontsize);
  line-height: $lh;
  background: #fff;
}

input::-ms-clear {
  display: none;
}

/* Для Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@import "ui";

@import "grid";

@import "header";

@import "main";

@import "about";

@import "catalog";

@import "contact-us";

@import "plan";

@import "footer";

@import "error";

@import "shopping-cart";

@import "checkout";

@import "account-info";

@import "account-security";

@import "email-settings";

@import "purchases";

@import "reviews";

@import "payment-method";

@import "favorites";

@import "membership";

@import "support";

@import "blog";
